:root{
  --gradient: linear-gradient(#e66465, #9198e5);
}
* {
    box-sizing: border-box;
  }
  
  body {
    display:grid;
    font-family:Tahoma;
    margin: 0;
    background-image: url(https://i.ibb.co/RTgn3Hh/anotherbeige.jpg), url(https://i.ibb.co/0t1mPy5/samedit3.jpg);
    background-position:center, left;
    background-size:1100px, 500px;
    background-repeat:repeat-y, repeat;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

a, a:visited {
color: #2f4e87;
  }

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22pt;
    width: 50%;
    padding: 10px;
    font-size: 20px;
      }
  
h2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 22pt;
    display: table;
    margin: 0px auto 0px auto;
    padding: 10px;
    font-size: 20px;
  }

h3  {
  margin-left: 8%;
  margin-right: auto;
  font-size: 22pt;
  width: 50%;
  text-align: center;
}

#navigation {
  text-align: center;
  font-size: large;
  line-height: 1.2;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  background-color: #d1ba9a;
  position:fixed; 
  display: list-item;
  list-style: none;
  margin-left: 8%;
  margin-top: 10%;
}
  
#poster, .sizzle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
#synopsis  {
  padding: 1%;
  border-style: solid;
  border-color: black;
  display:block;
  line-height: 1.5;
  word-wrap:break-word; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#logline, #linktext, #media, #funders {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  }
#team, #cast {
  justify-content: center;
}
.teammember  {
    display:inline-block;
    padding-top: 30px;
    margin-left: 30%;
    margin-right: 50%;
    word-wrap: break-word;
    text-align:left;
    width: 40%;
    
  }

 .headshot {
  display: inline-block;
  float: left;
  margin: 25px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 15%;
    border-style: solid;
    border-color: black;
  }
  #campaign {
    display:block;
    text-align: center;
    border-style: solid;
    width: 50%;
    line-height: 1.8;
    border-color: black;
    margin-left: auto;
    margin-right:auto;
  }

#gogo {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
    font-size: 22pt;
    font-family: Tahoma;
    font-style: bold;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    background-color: #5278a9;
    padding:2%;
  } 
#flag{
  max-width: 300px;
  max-height: 300px;
}
#funderslist {
  list-style: none;
  line-height: 1.8;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.logof {
  display:block;
  width: 80px;
  height: 80px;
  margin-left:auto;
  margin-right:auto;
 
}
#giselle {
  display: flex;
  justify-content: center;
}
.logosm {
  flex-direction: inline;
  padding: 15px;
  width: 80px;
  height: 78px;
  margin-left:auto;
  margin-right:auto;
}


@media screen and (max-width: 390px) {

  body {
    display:grid;
    font-family:Tahoma;
    margin: 0;
    background-image: url(https://i.ibb.co/RTgn3Hh/anotherbeige.jpg), url(https://i.ibb.co/0t1mPy5/samedit3.jpg);
    background-position:center, left;
    background-size:100px, 500px;
    background-repeat:repeat-y, repeat;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

a, a:visited {
color: #2f4e87;
  }

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22pt;
    width: 50%;
    padding: 10px;
    font-size: 20px;
      }
  
h2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 22pt;
    display: table;
    margin: 0px auto 0px auto;
    padding: 10px;
    font-size: 20px;
  }

h3  {
  margin-left: 8%;
  margin-right: auto;
  font-size: 22pt;
  width: 50%;
  text-align: center;
}

#navigation {
  text-align: center;
  font-size: large;
  line-height: 1.2;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  background-color: #d1ba9a;
  position:fixed; 
  display: list-item;
  list-style: none;
  margin-left: 8%;
  margin-top: 10%;
}
  
#poster, .sizzle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
#synopsis  {
  padding: 1%;
  border-style: solid;
  border-color: black;
  display:block;
  line-height: 1.5;
  word-wrap:break-word; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#logline, #linktext, #media, #funders {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  }
#team, #cast {
  justify-content: center;
}
.teammember  {
    display:inline-block;
    padding-top: 30px;
    margin-left: 30%;
    margin-right: 50%;
    word-wrap: break-word;
    text-align:left;
    width: 40%;
    
  }

 .headshot {
  display: inline-block;
  float:left;
  margin: 25px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 15%;
    border-style: solid;
    border-color: black;
  }
  #campaign {
    display:block;
    text-align: center;
    border-style: solid;
    width: 50%;
    line-height: 1.8;
    border-color: black;
    margin-left: auto;
    margin-right:auto;
  }

#gogo {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
    font-size: 22pt;
    font-family: Tahoma;
    font-style: bold;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    background-color: #5278a9;
    padding:2%;
  } 
#flag{
  max-width: 300px;
  max-height: 300px;
}
#funderslist {
  list-style: none;
  line-height: 1.8;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.logof {
  display:block;
  width: 80px;
  height: 80px;
  margin-left:auto;
  margin-right:auto;
 
}
#giselle {
  display: flex;
  justify-content: center;
}
.logosm {
  flex-direction: inline;
  padding: 15px;
  width: 80px;
  height: 78px;
  margin-left:auto;
  margin-right:auto;
}

}


@media screen and (max-width: 768px) {

  body {
    display:grid;
    font-family:Tahoma;
    margin: 0;
    background-image: url(https://i.ibb.co/RTgn3Hh/anotherbeige.jpg), url(https://i.ibb.co/0t1mPy5/samedit3.jpg);
    background-position:center, left;
    background-size:1100px, 500px;
    background-repeat:repeat-y, repeat;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

a, a:visited {
color: #2f4e87;
  }

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22pt;
    width: 50%;
    padding: 10px;
    font-size: 20px;
      }
  
h2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 22pt;
    display: table;
    margin: 0px auto 0px auto;
    padding: 10px;
    font-size: 20px;
  }

h3  {
  margin-left: 8%;
  margin-right: auto;
  font-size: 22pt;
  width: 50%;
  text-align: center;
}

#navigation {
  text-align: center;
  font-size: large;
  line-height: 1.2;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  background-color: #d1ba9a;
  position:fixed; 
  display: list-item;
  list-style: none;
  margin-left: 8%;
  margin-top: 10%;
}
  
#poster, .sizzle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
#synopsis  {
  padding: 1%;
  border-style: solid;
  border-color: black;
  display:block;
  line-height: 1.5;
  word-wrap:break-word; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#logline, #linktext, #media, #funders {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  }
#team, #cast {
  justify-content: center;
}
.teammember  {
    display:inline-block;
    padding-top: 30px;
    margin-left: 30%;
    margin-right: 50%;
    word-wrap: break-word;
    text-align:left;
    width: 40%;
    
  }

 .headshot {
  display: inline-block;
  float:left;
  margin: 25px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 15%;
    border-style: solid;
    border-color: black;
  }
  #campaign {
    display:block;
    text-align: center;
    border-style: solid;
    width: 50%;
    line-height: 1.8;
    border-color: black;
    margin-left: auto;
    margin-right:auto;
  }

#gogo {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
    font-size: 22pt;
    font-family: Tahoma;
    font-style: bold;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    background-color: #5278a9;
    padding:2%;
  } 
#flag{
  max-width: 300px;
  max-height: 300px;
}
#funderslist {
  list-style: none;
  line-height: 1.8;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.logof {
  display:block;
  width: 80px;
  height: 80px;
  margin-left:auto;
  margin-right:auto;
 
}
#giselle {
  display: flex;
  justify-content: center;
}
.logosm {
  flex-direction: inline;
  padding: 15px;
  width: 80px;
  height: 78px;
  margin-left:auto;
  margin-right:auto;
}

}





  