:root{
  --gradient: linear-gradient(#e66465, #9198e5);
}
* {
    box-sizing: border-box;
  }
  
  body {
    display:grid;
    font-family: Arial;
    margin: 0;
    background-image: url(https://i.ibb.co/10g3r64/solid-color-image.png), url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Gay_flag_8.svg/2560px-Gay_flag_8.svg.png);
    background-position: center, left;
    background-size: 1100px, 200px;
    background-repeat: repeat-y, repeat;
  }
  
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    flex-direction: column;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content:center;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  .main-header p, .main-header h1 {
align-self: center;

  }
  h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
        padding: 10px;
        font-size: 20px;
        
        
  }
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: dashed;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  .subcard {
    background: var(--gradient);
    border-radius: 20px;
  }
  .card img {
    width: 100%;
    min-width: 400px;
  }
  a {
color: hotpink;
  }
  a:visited {
    color: hotpink;
  }
#navigation {
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  background-color: rgb(240, 224, 166);
  
  
  position:fixed; 
  display: list-item;
  list-style: none;
  margin-left: 8%;
  margin-top: 10%;
}
  #poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}  
#sizzle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logline, #synopsis  {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  
}
h2{
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  text-align: center;
  display: table;
    margin: 0px auto 0px auto;
        padding: 10px;
        font-size: 20px;
}
#linktext, #funders, #giselle {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#media {
  color:black;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
#WOQ {
  color: black;
}
#funderslist {
  list-style: none;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#IPF {
  display:inline-block;
  margin-left: 5%;
  max-height: 80px;
  max-width: 80px;
}
#IG {
  display:block;
  
  width: 50%;
  max-height: 80px;
  max-width: 80px;
}
.teammember  {
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  width: 50%;
  
}

#gogo {
  color: black;
  display: block;
  text-decoration-color: #9198e5;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}  

#giselleHS {
  display: block;
  margin-left: 50%;
  max-height: 300px;
  max-width: 300px;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
body {
  background-size: 500px, 700px;
}
}



  