:root{
  --gradient: linear-gradient(#e66465, #9198e5);
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: #e2af41 ;
  }
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    flex-direction: column;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content:center;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  .main-header p, .main-header h1 {
align-self: center;
  }
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: dashed;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  .subcard {
    background: var(--gradient);
    border-radius: 20px;
  }
  .card img {
    width: 100%;
    min-width: 400px;
  }
#navigation {
  position:fixed; 
  display: list-item;
  list-style: none;
  margin-left: 8%;
  margin-top: 10%;
}
  #poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}  
#sizzle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logline, #synopsis, h2, #linktext, #media, #funders, #giselle {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.teammember  {
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
  width: 50%;
}

#gogo {
  display: block;
  text-decoration-color: #9198e5;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  width: 50%;
}  

  @media screen and (max-width: 996px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 992px;
    }
  }